absl-py==1.4.0
brotlipy==0.7.0
cachetools==5.3.1
certifi
cffi
charset-normalizer
colorama
cryptography
easydict==1.10
fvcore
google-auth==2.22.0
google-auth-oauthlib==1.0.0
graphviz==0.8.4
grpcio==1.57.0
idna
importlib-metadata==6.8.0
iopath==0.1.9
joblib==1.3.2
Markdown==3.4.4
MarkupSafe==2.1.3
mkl-fft==1.3.6
mkl-random
mkl-service==2.4.0
mxnet==1.9.1
numpy
oauthlib==3.2.2
onnx==1.14.1
opencv-python==4.8.0.76
packaging==23.1
Pillow==9.4.0
portalocker
protobuf==4.24.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser
pyOpenSSL
PySocks
pytorch-ignite==0.4.12
# pytorch3d==0.7.4
PyYAML
requests
requests-oauthlib==1.3.1
rsa==4.9
scikit-learn==1.3.0
scipy==1.11.2
six==1.16.0
# sklearn==0.0.post7
tabulate
tensorboard==2.14.0
tensorboard-data-server==0.7.1
termcolor
threadpoolctl==3.2.0
torch==1.13.0
torchvision==0.14.0
tqdm
typing_extensions
urllib3
Werkzeug==2.3.7
yacs
zipp==3.16.2
pandas==2.1.3
